.benefits__list {
    display: flex;
}
.benefits__card {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.benefits__card-before {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;

    background-color: getColor(secondary-bg);
    border-radius: 4px;
}
.benefits__card-point {
    color: getColor(title-text);

    margin-bottom: 10px;
}
.benefits__card-descr {
    font-size: 14px;
    line-height: 1.71428;
}
