.clients__section-title {
    margin-bottom: 50px;
}
.clients__list {
    @include centeredFlex($content: space-between);
}
.clients__logo {
    color: getColor(icon);

    @include centeredFlex();
    width: 170px;
    height: 92px;

    border: 1px solid getColor(icon);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border $transition-options, color $transition-options;
    &:hover,
    &:focus {
        border: 1px solid getColor(accent);
        color: getColor(accent);
    }
}
.clients__icon {
    fill: currentColor;
}
