body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;

    margin: 0;

    background-color: getColor(primary-white);
    color: getColor(primary-text);
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding: 94px 0;
    margin: 0 auto;
}
.icon {
    @include centeredFlex();
    margin: 0;
    padding: 0;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: getColor(title-text);
}
.section-point {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.btn {
    text-align: center;
    color: getColor(primary-white);

    background-color: getColor(accent);
    border-radius: 4px;
    box-shadow: 0px 4px 4px getColor(box-shadow);
    cursor: pointer;

    transition: background-color $transition-options;
    &:hover,
    &:focus {
        background-color: getColor(secondary-accent);
    }
}
